@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  overflow: auto;
}


.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* Custom Scrollbar (hidden Track) */
.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin; 
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  display: none;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
}


/* Pie chart animation */
.pie-chart-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.pie-chart-fade-in {
  opacity: 1;
  transform: translateY(0);
}

.subtitle-animation {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s;
}

.subtitle-animation-fade-in{
  opacity: 1;
  transform: translateY(0);
}